@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;;
    background-color:  hsl(212, 45%, 89%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;    
    width: 280px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}

.container h2, p {
    padding: 10px;
}

.container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;;
}

.container h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
}